@layer reset, loader, base;

@layer reset {
  html {
    font-family: 'Literata', serif;
    font-size: clamp(100%, 75% + 1vmin, 200%);
    line-height: 1.6;
    font-variant-ligatures: discretionary-ligatures;
    font-variant-numeric: oldstyle-nums;
    font-synthesis-weight: none;
    font-synthesis-style: none;
    font-synthesis-small-caps: none;
    font-optical-sizing: auto;
    --custom-color: magenta;
    accent-color: var(--custom-color);
    caret-color: var(--custom-color);
    overflow-wrap: break-word;
    text-wrap: pretty;
    text-rendering: optimizeLegibility;
    hyphens: auto;
    hanging-punctuation: first last;
    color-scheme: light dark;
  }

  h1,
  h2,
  p {
    max-width: 60rch;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rlh;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5rlh;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    font: unset;
    line-height: unset;
    margin: unset;
    min-height: 0;
    min-width: 0;
    padding: unset;
  }

  *:focus {
    outline: unset;
  }
}
